


body {
    background-image: url('../image/bg1.png');
    background-color: rgb(172, 243, 144);
  }

.helloheader{
    background-color: rgb(231 236 247);
    text-align: center;
    margin: auto;
    color: brown;
    padding: 10px;
}
